button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem;
  height: 40px;
  border: none;
  border-radius: 4px;
}
.learn {
  background-color: rgba(#1376b8, 0.4);
}
