<div class="title">
  <h2>Maestros</h2>
  <div class="line"></div>
</div>
<div class="members">
  <ul *ngIf="senseis$ | async as senseis">
    <li *ngFor="let item of senseis.users" (click)="saveUserToDetail(item)">
      <div class="image">
        <img src="{{ item.avatar }}" alt="user avatar" width="50px" />
      </div>
      <p>{{ item.name }} {{ item.lastName }} - {{ item.grade }}</p>
    </li>
  </ul>
  <div class="pages">
    <div class="paginate" (click)="handleSenseisPrev()">
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon
      ><span>Anteriores</span>
    </div>
    <div class="paginate" (click)="handleSenseisNext()">
      <span>Siguientes</span
      ><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </div>
</div>
<div class="title">
  <h2>Alumnos</h2>
  <div class="line"></div>
</div>

<div class="members">
  <ul *ngIf="students$ | async as students">
    <li *ngFor="let item of students.users" (click)="saveUserToDetail(item)">
      <div class="image">
        <img src="{{ item.avatar }}" alt="user avatar" width="60" />
      </div>
      <p>{{ item.name }} {{ item.lastName }} - {{ item.grade }}</p>
    </li>
  </ul>
  <div class="pages">
    <div class="paginate" (click)="handleStudentsPrev()">
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon
      ><span>Anteriores</span>
    </div>
    <div class="paginate" (click)="handleStudentsNext()">
      <span>Siguientes</span
      ><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
  </div>
</div>
