<h3>
  <button>
    <ng-container> Login </ng-container>
  </button>
</h3>

<form [formGroup]="newLoginForm" (submit)="handleSubmit()">
  <div class="form-group">
    <label for=""
      >E-mail
      <input type="text" formControlName="title" required />
    </label>
    <label for=""
      >Contraseña
      <input type="text" formControlName="owner" required />
    </label>
  </div>
  <button type="submit" [disabled]="newLoginForm.invalid">Añadir</button>
</form>

{{ newLoginForm.value | json }}
