<h2>Login</h2>

<form [formGroup]="newLoginForm" (submit)="handleSubmit()">
  <div class="form-group">
    <label for=""
      >E-mail
      <input
        type="text"
        formControlName="email"
        placeholder="E-mail"
        required
      />
    </label>
    <label for=""
      >Contraseña
      <input
        type="password"
        formControlName="password"
        placeholder="Contraseña"
        required
      />
    </label>
  </div>
  <button type="submit" [disabled]="newLoginForm.invalid">Añadir</button>
</form>
