<nav>
  <div class="full-menu">
    <ul *ngIf="(loggedUser$ | async)?.role === 'logout'">
      <li *ngFor="let item of items" (click)="sendToParent()">
        <a [routerLink]="item.path" [title]="item.label">{{ item.label }}</a>
      </li>
    </ul>
    <ul *ngIf="(loggedUser$ | async)?.role === 'user'">
      <li *ngFor="let item of itemsLogged" (click)="sendToParent()">
        <div *ngIf="item.path !== 'logout'">
          <a [routerLink]="item.path" [title]="item.label">{{ item.label }}</a>
        </div>
        <div *ngIf="item.path === 'logout'">
          <a (click)="handleLogout()">{{ item.label }}</a>
        </div>
      </li>
    </ul>
    <ul *ngIf="(loggedUser$ | async)?.role === 'sensei'">
      <li *ngFor="let item of itemsAdmin" (click)="sendToParent()">
        <div *ngIf="item.path !== 'logout'">
          <a [routerLink]="item.path" [title]="item.label">{{ item.label }}</a>
        </div>
        <div *ngIf="item.path === 'logout'">
          <a (click)="handleLogout()">{{ item.label }}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
