<div *ngFor="let name of techsToSearch">
  <h2>{{ name }}</h2>

  <ng-container *ngIf="techs[name] as tech">
    <ul>
      <li *ngFor="let item of tech.techs">
        <p>{{ item.attack }} {{ item.tech }} {{ item.grade }}</p>
      </li>
    </ul>
    <div class="pages">
      <fa-icon
        [icon]="['fas', 'chevron-left']"
        (click)="handlePrev(name)"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'chevron-right']"
        (click)="handleNext(name)"
      ></fa-icon>
    </div>
  </ng-container>
</div>
