.pages {
  margin: 1rem;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li {
  list-style: none;
}

.technique {
  margin: 2rem;
}

.paginate {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.paginate:hover {
  cursor: pointer;
}
