.pages {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li {
  list-style: none;
}

.technique {
  margin: 2rem;
}
