<header>
  <div class="main-header">
    <div class="title">
      <h1 (click)="sendToParent()" [routerLink]="'home'">AIKIDO JOURNEY</h1>
    </div>
    <div class="logo">
      <img
        src="../../../assets/img/ai.jo.logo.webp"
        height="58"
        alt=""
        (click)="sendToParent()"
        [routerLink]="'home'"
      />
    </div>
    <fa-icon
      [icon]="['fas', 'bars']"
      size="3x"
      (click)="sendToParent()"
    ></fa-icon>
  </div>
  <ng-content *ngIf="!this.burger"></ng-content>
</header>
