<div class="home">
  <div class="aikido">
    <h2>Ai-ki-dō</h2>
    <div class="line"></div>
    <div class="content">
      <p>
        La palabra aikidõ está formada por tres kanji: ai - armonía; ki -
        espíritu, mente o energía universal; dõ - camino.
      </p>
      <p>
        Aikidõ es literalmente “el camino de la armonía con la energía
        universal”.
      </p>
      <p>
        Sin embargo, aiki también puede interpretarse como “adaptación a las
        circustancias”. Esta interpretación posterior evita algunos conceptos
        metafísicos y esotéricos y además sintetiza con bastante acierto las
        facetas física y psicológica del aikidõ.
      </p>
    </div>
  </div>
  <div class="info">
    <h2>Qué es Aikido Journey</h2>
    <div class="line"></div>
    <div class="content">
      <p>
        El aprendizaje del aikido se centra en el crecimiento personal. El
        objetivo de la práctica no es superar a ningún adversario, sino
        profundizar en el conocimiento del arte y mejorar la práctica de forma
        diaria.
      </p>
      <p>
        En las clases todos los alumnos practican con los demás,
        independientemente de su grado de conocimiento. En toda enseñanza hay un
        aprendizaje, el objetivo de la práctica es la práctica en sí misma.
      </p>
      <p>
        En esta página podrás hacer un seguimiento de tu aprendizaje. Una vez
        registrado, podrás elegir qué técnicas deseas aprender y, llegado el
        momento, solicitar a tu maestro que valore si has adquirido la destreza
        suficiente en la técnica como para continuar avanzando.
      </p>
    </div>
  </div>
</div>
