<div class="title">
  <h2>{{ actualTech.attack }} {{ actualTech.tech }}</h2>
  <div class="line"></div>
</div>
<div class="card">
  <app-tech-card [tech]="actualTech"></app-tech-card>
</div>
<div class="video" *ngIf="actualTech.video">
  <iframe
    [title]="actualTech.attack"
    width="560"
    height="315"
    [src]="actualTech.video | safe"
    allowfullscreen
  ></iframe>
</div>

<div class="users-learnt">
  <h3>La han aprendido</h3>
  <div class="line"></div>
  <ng-container *ngFor="let user of actualTech.usersLearnt">
    <div class="user">
      <div class="image">
        <img src="{{ user.avatar }}" alt="Imagen de perfil" />
      </div>
      {{ user.name }}
      {{ user.lastName }} - {{ user.grade }}
    </div>
  </ng-container>
</div>

<div class="users-learning">
  <h3>La están aprendiendo</h3>
  <div class="line"></div>
  <ng-container *ngFor="let user of actualTech.usersInProgress">
    <div class="user">
      <div class="image">
        <img src="{{ user.avatar }}" alt="Imagen de perfil" />
      </div>
      {{ user.name }} {{ user.lastName }} - {{ user.grade }}
    </div>
  </ng-container>
</div>
