<section class="profile">
  <h2>Mi perfil</h2>
  <div class="line"></div>
  <div class="user-info" *ngIf="this.currentUser$ | async as user">
    <section class="user-options">
      <fa-icon [icon]="['fas', 'list-check']" style="cursor: pointer"></fa-icon>
      <div class="image">
        <img
          [src]="user.avatar ? user.avatar : '../../assets/img/no.avatar.png'"
          [alt]="user.name"
        />
      </div>

      <fa-icon
        [icon]="['fas', 'pen-nib']"
        (click)="handleEdit()"
        style="cursor: pointer"
      ></fa-icon>
    </section>
    <fieldset class="edit-form" disabled>
      <app-user-form
        [userData]="userData"
        (itSubmit)="handleUpdate($event)"
      ></app-user-form>
    </fieldset>
    <div class="button">
      <button (click)="handleDelete()">Borrar Perfil</button>
    </div>
  </div>
</section>
