<section class="profile">
  <h2>Mi perfil</h2>
  <div class="line"></div>
  <div
    class="user-info"
    *ngIf="this['loginService'].currentUser$ | async as user"
  >
    <section class="user-options">
      <fa-icon [icon]="['fas', 'list-check']" style="cursor: pointer"></fa-icon>
      <div class="image">
        <img
          [src]="user.avatar ? user.avatar : '../../assets/img/no.avatar.png'"
          [alt]="user.name"
          height="100"
          width="auto"
        />
      </div>

      <fa-icon
        [icon]="['fas', 'pen-nib']"
        (click)="handleEdit()"
        style="cursor: pointer"
      ></fa-icon>
    </section>

    <fieldset class="edit-form" disabled>
      <legend hidden></legend>
      <app-user-form
        [userData]="user"
        (itSubmit)="handleUpdate($event)"
      ></app-user-form>
    </fieldset>
    <div class="button">
      <button (click)="handleDelete()">Borrar Perfil</button>
    </div>
  </div>

  <div class="user-techs">
    <h3>Técnicas en progreso</h3>
    <div class="line"></div>

    <ng-container
      *ngFor="
        let tech of (this['loginService'].currentUser$ | async)?.techsInProgress
      "
    >
      <app-tech-card [tech]="tech">
        <app-snooze-button [techId]="tech.id"></app-snooze-button>
      </app-tech-card>
    </ng-container>

    <h3>Técnicas aprendidas</h3>
    <div class="line"></div>

    <ng-container
      *ngFor="
        let tech of (this['loginService'].currentUser$ | async)?.techsLearnt
      "
    >
      <app-tech-card [tech]="tech"> </app-tech-card>
    </ng-container>
  </div>
</section>
